---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <nav>
      <a href="/">Home Page</a>
      <a href="/about">About Page</a>
      <a href="/contact">Contact Page</a>
    </nav>
    <h1>About</h1>
  </body>
</html>
