---
import CustomTitle from '../components/CustomTitle.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About Page">
  <h1>About</h1>

  <CustomTitle title="This is a custom title" />
</MainLayout>

<!-- <style is:global> -->
<style>
  h1 {
    color: red;
  }
</style>
