---
// Server Only
const name = 'Fernando Alberto Herrera Jiménez';
const title = 'Home Page';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <h1>{name}</h1>

    <p>Momento actual: {new Date().toLocaleTimeString()}</p>
    <p id="current-time">Momento actual real:</p>

    <footer>Año: 2023</footer>

    <script>
      const currentYear: number = new Date().getFullYear();

      const footer = document.querySelector('footer') as HTMLElement;
      footer.innerText = `Año: ${currentYear}`;
    </script>
  </body>
</html>
