---
import MainLayout from '../layouts/MainLayout.astro';

// Server Only
const name = 'Fernando Alberto Herrera Jiménez';
const title = 'Home Page';

const currentDate = new Date();
---

<MainLayout title="Home Page">
  <h1>{name}</h1>

  <p>Momento actual: {currentDate.toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>

  <footer>Año: 2023</footer>

  <script>
    // Client Only
    const footer = document.querySelector('footer') as HTMLElement;
    const currentTimeParagraph = document.querySelector(
      '#current-time'
    ) as HTMLParagraphElement;

    const currentYear: number = new Date().getFullYear();

    footer.innerText = `Año: ${currentYear}`;
    currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
